
.sell-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 20%;
}


.sell-product {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .sell-product {
    width: 60%;
  }
}


.image-upload-section {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .image-upload-section {
    width: 30%;
  }
}


.image-preview-container {
  margin-top: 20px;
}

.image-preview-square {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0056b3;
}


.form-group {
  margin-bottom: 20px;
}


.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
}





@media (max-width: 768px) {
  .sell-product-container {
    flex-direction: column;
    align-items: center;
  }

  .sell-product, .image-upload-section {
    width: 90%;
  }

  .back-button img {
    width: 70%; 
    height: 55%; 
  }
  

  .image-upload-section {
    margin-bottom: 20px;
  }
}


.toast {
  background-color: #333; 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 9999; 
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s; 
}

.fade-out {
  opacity: 0; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

