
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: #f0f4ff; 
  color: #333; 
  border-radius: 8px;
  max-width: 90%; 
  max-height: 80vh; 
  width: 80%; 
  display: flex; 
  flex-direction: column; 
  overflow: hidden; 
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}


.close-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
  background: none;
  border: none;
  cursor: pointer;
  color: #333; 
}


.modal-body {
  display: flex; 
  max-height: 70vh; 
}


.image-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}


.modal-image {
  width: 100%; 
  height: auto; 
  max-height: 100%; 
  object-fit: contain; 
  border-radius: 8px; 
}


.content-container {
  flex: 2; 
  padding: 20px; 
  overflow-y: auto; 
}


.modal-title {
  color: #007bff; 
  text-align: center;
  margin-bottom: 10px; 
}


.product-section, .seller-section {
  margin-bottom: 15px; 
  border: 1px solid #0056b3;
  border-radius: 8px;
  padding: 10px; 
  background-color: #fff; 
}


.seller-details {
  display: flex;
  align-items: center;
}

.seller-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #007bff;
}

.seller-info p {
  margin: 2px 0; 
  font-size: 0.9em; 
}


h3 {
  color: #0056b3; 
  font-size: 1em; 
}

p {
  margin: 2px 0; 
  font-size: 0.9em; 
}
